<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.SDL2GameBase</string>
	<key>Concrete</key>
	<false/>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.base</string>
		<string>com.apple.dt.unit.macBase</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>info.plist:Content</key>
		<string>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist version=&quot;1.0&quot;&gt;
&lt;dict&gt;
    &lt;key&gt;CFBundleIdentifier&lt;/key&gt;
    &lt;string&gt;___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.${PRODUCT_NAME:rfc1034identifier}&lt;/string&gt;
    &lt;key&gt;CFBundleDevelopmentRegion&lt;/key&gt;
    &lt;string&gt;en&lt;/string&gt;
    &lt;key&gt;CFBundleExecutable&lt;/key&gt;
    &lt;string&gt;${EXECUTABLE_NAME}&lt;/string&gt;
    &lt;key&gt;CFBundleIconFile&lt;/key&gt;
    &lt;string&gt;&lt;/string&gt;
    &lt;key&gt;CFBundleInfoDictionaryVersion&lt;/key&gt;
    &lt;string&gt;6.0&lt;/string&gt;
    &lt;key&gt;CFBundleName&lt;/key&gt;
    &lt;string&gt;${PRODUCT_NAME}&lt;/string&gt;
    &lt;key&gt;CFBundlePackageType&lt;/key&gt;
    &lt;string&gt;APPL&lt;/string&gt;
    &lt;key&gt;CFBundleSignature&lt;/key&gt;
    &lt;string&gt;????&lt;/string&gt;
    &lt;key&gt;NSHighResolutionCapable&lt;/key&gt;
    &lt;true/&gt;
&lt;/dict&gt;
&lt;/plist&gt;
</string>
		<key>info.plist</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>SubstituteMacros</key>
			<true/>
		</dict>
		<key>main.cpp</key>
		<dict>
			<key>Path</key>
			<string>main.cpp</string>
		</dict>
		<key>system.h</key>
		<dict>
			<key>Group</key>
			<string>include</string>
			<key>Path</key>
			<string>system.h</string>
		</dict>
		<key>system.cpp</key>
		<dict>
			<key>Group</key>
			<string>src</string>
			<key>Path</key>
			<string>system.cpp</string>
		</dict>
		<key>SDL2</key>
		<dict>
			<key>Path</key>
			<string>../../../../../../../../../Library/Frameworks/SDL2</string>
		</dict>
		<key>SDL2_image</key>
		<dict>
			<key>Path</key>
			<string>../../../../../../../../../Library/Frameworks/SDL2_image</string>
		</dict>
		<key>SDL2_mixer</key>
		<dict>
			<key>Path</key>
			<string>../../../../../../../../../Library/Frameworks/SDL2_mixer</string>
		</dict>
		<key>SDL2_ttf</key>
		<dict>
			<key>Path</key>
			<string>../../../../../../../../../Library/Frameworks/SDL2_ttf</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>info.plist:Content</string>
		<string>main.cpp</string>
		<string>system.h</string>
		<string>system.cpp</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>CopyFiles</string>
					<key>DstSubfolderSpec</key>
					<string>10</string>
					<key>RunOnlyForDeploymentPostprocessing</key>
					<string>YES</string>
				</dict>
			</array>
			<key>Frameworks</key>
			<array>
				<string>../../../../../../../../../Library/Frameworks/SDL2</string>
				<string>../../../../../../../../../Library/Frameworks/SDL2_image</string>
				<string>../../../../../../../../../Library/Frameworks/SDL2_mixer</string>
				<string>../../../../../../../../../Library/Frameworks/SDL2_ttf</string>
			</array>
			<key>SharedSettings</key>
			<dict>
				<key>INFOPLIST_FILE</key>
				<string>___PACKAGENAME___/info.plist</string>
				<key>OTHER_LDFLAGS</key>
				<array>
					<string></string>
				</array>
				<key>USER_HEADER_SEARCH_PATHS</key>
				<string></string>
				<key>FRAMEWORK_SEARCH_PATHS</key>
				<array>
					<string>/Library/Frameworks</string>
				</array>
				<key>LIBRARY_SEARCH_PATHS</key>
				<array>
					<string>/usr/local/lib</string>
					<string>/usr/lib</string>
				</array>
				<key>HEADER_SEARCH_PATHS</key>
				<array>
					<string>/usr/local/include</string>
					<string>/usr/include</string>
				</array>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<array>
					<string>@executable_path/../Frameworks</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
